.card-container{
border: 1px solid black;
width:27%;
padding: 1.5% ;
background-color: #fff;
border-radius: 0.4rem;
overflow: hidden;
cursor: pointer;
margin-bottom: 1.5%;
}



.listing{
display: flex;
 /* flex-direction: row; */
gap:2%;
 flex-wrap: wrap; 
height: 60vh;

height: auto;
margin: 3rem auto;
margin-top: 0.5rem;
margin-left:auto ;
padding: 1rem ;
justify-content: center;

}

.container-Outer{

    border: 4px solid blue;
}

.card-container a{
text-decoration: none;
background-color: brown;
color: white;
}

.card-container a:hover{

    background-color:wheat;
    color: black;
}

.card-image{

width: 100%;
 object-fit:cover;
height: 50%;


}